body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.thumb {
    width: 64px;
    height: 64px;
    border: none
}

.bigthumb {
    width: 128px;
    height: 128px;
    border: none;
}

#skiprow {
    padding-top: 1em;
}

#matchrow {
    padding-top: 1em;
}

#history img {
    padding-right: 10px;
}

th {
    vertical-align: top;
}
