{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        var img_size = 512;
        var thumb_size = 64;
        var num_thumbs = 10;
        
        $(document).ready(function() {
            var auth_token = undefined;
            
            function make_img(src, size) {
                return $("<img>").attr('src', src).width(size).height(size);
            }
            
            function create_matchup_image(individual, other) {
                var a = $("<a>");
                a.append(make_img(individual.image, img_size));
                a.click(function() {
                    next_matchup(individual, other)
                });
                a.css("cursor", "pointer");
                return a;
            }
            
            function next_matchup(winner, loser) {
                var args = {};
                if(winner != undefined) {
                    args['winner'] = winner.id;
                    args['loser'] = loser.id;
                    args['auth_token'] = auth_token;

                    var history = $("#history");
                    if(history.children().size() >= num_thumbs) {
                        history.children().first().remove();
                    }
                    var history_link = $("<a>");
                    history_link.append(make_img(winner.image, thumb_size));
                    history_link.attr("href", "/individual/" + winner.id);
                    history_link.attr("target", "_blank");
                    history.append(history_link);
                    
                    $("#historyrow").show();
                }
                
                var i1_box = $("#i1");
                i1_box.empty();
                var i2_box = $("#i2");
                i2_box.empty();
                                
                $.post('/matchup', args, function(data) {
                    $("#generation").text("Generation " + data.generation)
                    i1_box.append(create_matchup_image(data.i1, data.i2));
                    i2_box.append(create_matchup_image(data.i2, data.i1));
                    
                    if(data.progress == null) {
                        $("#progress").hide();
                    } else {
                        $("#progress").show().children().first().css("width", data.progress + "%");
                    }
                    
                    auth_token = data.auth_token;
                }, "json");
            }

            $("#skip").click(function() {
                next_matchup();
            });
            
            $("#historyrow").hide();
            $("#progress").hide()
            next_matchup();
        });
    </script>
{% endblock %}
{% block body %}
    <p>Click on the curve that you like best.</p>
    
    <div class="row">
        <div class="span12"><h2 style="text-align: center" id="generation"></h2></div>
    </div>
    <div class="progress" id="progress">
        <div class="bar"></div>
    </div>
    <div class="row" style="text-align: center" id="matchrow">
        <div class="span6" id="i1"></div>
        <div class="span6" id="i2"></div>
    </div>
    <div class="row" style="text-align: center" id="skiprow">
        <div class="span12"><a id="skip" class="btn btn-large" href="#">Skip</a></div>
    </div>
    <div class="row" id="historyrow">
        <div class="span8 offset2">
            <h3>History</h3>
            <div id="history">
            </div>
            <p>Click on any curve in the history to learn more about it.</p>
        </div>
    </div>
{% endblock %}
