{% extends "base.html" %}
{% block title %}Individual #{{individual.key.id()}}{% endblock %}
{% block body %}
<h2>Individual #{{individual.key.id()}}</h2>
<img src="{{individual.image_url()}}" />
<table>
    <tr><th>Genome</th><td>{{genome}}</td></tr>
    <tr><th>Expression</th><td>{{expression}}</td></tr>
    <tr><th>Generation</th><td>{{individual.generation}}</td></tr>
    {% if individual.parents %}
        <tr><th>Parents</th><td>
            {% for parent in parents %}
                <a href="/individual/{{parent.key.id()}}"><img src="{{parent.image_url(64)}}" title="Individual #{{parent.key.id()}}" class="thumb"></a>
            {% endfor %}
        </td></tr>
    {% endif %}
    {% if children %}
        <tr><th>Children</th><td>
            {% for child in children %}
                <a href="/individual/{{child.key.id()}}"><img src="{{child.image_url(64)}}" alt="Individual #{{child.key.id()}}" class="thumb"></a>
            {% endfor %}
        </td></tr>
    {% endif %}
    {% if individual.score is not none %}
        <tr><th>Rank</th><td>{{individual.rank}}</td></tr>
        <tr><th>Score</th><td>{{individual.score}}</td></tr>
    {% endif %}
</table>
{% endblock %}
